/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap');

$body-bg: #f6d691;
$secondary-color: #e51b23;
$color_plain: #fff;
$optional-blue: #0042e4;
$optional-royalblue: #0042e4;
$optional-gray: #272727;
$optional-darkgray: #151e26;
$font-primary: 'Montserrat', sans-serif;
$font-headLine: 'Poppins', sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $body-bg;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: $font-primary;
  height: 100vh;
}

.navbar{
    background-color: #143157;
    color: #ffffff;
}
.container {
  height: 100vh;
}



.card , .card-header {
  background-color:#ffffff;
  color: #000000;
  border:none;
  border-radius: 5px;
  padding: 20px;
}

a {
  text-decoration: none;
  padding: 12px 0px;
  color: rgb(0, 89, 255);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headLine;
}

.from-group,
.form-control {
  border: none;
  outline: none;
  padding: 0;
}

input[type='text'],
input[type='password'] {
  border: 1px solid #ccc;
  outline: none;
  padding: 5px 10px;
  border-radius: 4px;
}

.bg-none {
  margin-left: 12px;
}
